* {
    padding:0px;
    margin:0px;
    color:white;
}

#navbar {
    height:60px;
    background-color:#0f1111;
}
button {
    background-color:orange;
}
#logo {
    color:orange;
    font-size:25px;
}

a {
    margin-right:200px;
}