ul {
    background-color: pink;
    display:flex;
    justify-content:space-evenly;
    
}
a {
    text-decoration:none;
    color:black;
}
li {
    list-style-type:none;
    background-color: aquamarine;
}
#outer {
    height:500px;
    width:500px;
    background-color:peru ;
    display:flex;
    justify-content: center;
    align-items: center;

}
#inner {
    height:100px;
    width:100px;
    background-color:palegreen;
    align-self:center;
    padding-right: 300px;

}
h1{
    align-self:first baseline;
    
}